/*
HTML START ATTRIBUTES

ATRIBUTOS ASOCIADOS A LA BASE DEL DOM HTML
*/
body {
	margin: 0;
	font-family: Flexo;
}
@font-face {
    font-family: Flexo;
    src: url(/fonts/Flexo.ttf);
}
/*
ID SETTINGS

ATRIBUTOS ASOCIADOS A LAS DISTINTOS ELEMENTOS DEL DOM HTML
*/
#main {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
	color: red;
}
#text {
	color: white;
	font-size: 20px;
}
#imgPokemon {
	position: relative;
	left: 1vw;
	height: 100%;
	padding-right: 2vw;
}
#arrow {
	position: absolute;
	top: 15%;
	right: 5%;
	height: 70%;
	transition: opacity 0.25s;
}
#arrow:active {
	opacity: 0.5;
}
#forms {
	position: relative;
	top: 10%;
	left: 2vw;
	height: 100% !important;
	font-size: 3.5vh;
}

#forms, input {
	height: 3vh;
}

#header {
	position: relative;
	top: 0;
	left: 0;
	height: 30vh;
	width: 100vw;
	background-image: url("/imgs/container_bg.png");
}

#logo {
	position: relative;
	top: 3vh;
	left: 5vw;
	width: 60vmin;
}

#restart {
	height: 18vmin;
	position: absolute;
	right: 11%;
	top: 7vh;
	display: none;
}
#body {
	top: 30vh;
	left: 0;
	height: 70vh;
	width: 100vw;
	background-image: url("/imgs/body_bg.png");
}
#title {
	display: flex;
	align-items: center;
	position: relative;
	top: 10vh;
	left: 10vw;
	
	background-color: #fbbf42;
	width: 77vw;
	height: 13vh;
	vertical-align: middle;
	color: #2f2f2f;
	font-size: 6vmin;
	text-shadow: 1px 1px #2f2f2f;
}
#alternatives {
	position: relative;
	top: 7vh;
	left: 10vw;
	background-color: #2F4698;
	width: 77vw;
	height: 32vh;
	color: white;
}
#finalScore {
	text-align: center;
	vertical-align: middle;
	line-height: 15vmin;
}

/* 
HELPER CLASSES

CLASES QUE SE INCRUSTAN A LOS ELEMENTOS SEGUN NECESIDAD
*/
.background-black {
	background-color: black;
}
.background-blue {
	background-color: blue;
}
.red-text {
	color: red;
}
.visible {
	display: initial !important;
}
.hidden {
	display: none !important;
}
.end-question {
	margin: auto;
}