/*
HTML START ATTRIBUTES

ATRIBUTOS ASOCIADOS A LA BASE DEL DOM HTML
*/
body {
	margin: 0;
}
/*
ID SETTINGS

ATRIBUTOS ASOCIADOS A LAS DISTINTOS ELEMENTOS DEL DOM HTML
*/
#main {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
	color: red;
}
#text {
	color: white;
	font-size: 20px;
}
#button {
	display: block;
	margin: auto;
}
#imgPokemon {
	display: block;
	margin: auto;
}
#form {
	
}
/* 
HELPER CLASSES

CLASES QUE SE INCRUSTAN A LOS ELEMENTOS SEGUN NECESIDAD
*/
.background-black {
	background-color: black;
}
.background-blue {
	background-color: blue;
}
.red-text {
	color: red;
}